#name{
    text-align: center;
    margin: 14em 0em 2em 0em;
}

#usuario{
    text-align: center;
    height: 30px;
    width: 300px;
}
#password{
    text-align: center;
    
}
#contraseña{
    text-align: center;
    height: 30px;
    width: 300px;
    
}


footer{
    margin-top: 450px;
    margin-left: 20px;
}

#imgLaboratoria{
    text-align: center;
    margin-left: 368px;
    margin-top: 4px;
}

h1{
    background-color: #ff0099;
    margin: 0px;
}

.info{
    margin: 20%;
    border: none;
}

body{
    margin: 0;

}

#result3{
    
    display: inline-block;
    
    
}

.container{
    display: inline-block;
    width: 200px;
    height: 100%;
    border: none;
    padding: none;
    background-color: yellow;
    
    top: 0;

}
.container1{
    display: inline-block;
}
.container2{
    display: inline-block;
}
.alumnas{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 65%;
    height: 2200px;
    
}
a{
    text-transform: uppercase;
    font-size: 98%;
}

.cardAlumnas{
    width: 200px;
    height: 200px;
    display: inline-flex;
    margin: 0.5rem;
    background-color: aquamarine;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid aqua
  }


.btnLima{

    width: 200px;
    text-align: center;
    display: inline-block;
}
.btnMexico{
 
    width: 200px;
    display: inline-block;
}

.btnLima{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60%;
    background-color: yellow;
    border: none;
    display: inline-block;
    text-transform: uppercase;
}

.btnMexico{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60%;
    background-color: yellow;
    border: none;
    display: inline-block;
    text-transform: uppercase;
}

.btnSantiago{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60%;
    background-color: yellow;
    border: none;
    text-transform: uppercase;
    display: inline-block;
}

.container3{
    border: black;
}
#result4{
    display: inline-flex;
    border: 1px solid black;
}

#result5{
    border: 1px solid black;
    display: inline-flex;
}
/*.Menu{
    text-align: left;
    display: inline-block;
    border: 5px solid blue;
    
    height: 700px;
    padding: none;
}*/



