#name{
    text-align: center;
    margin: 14em 0em 2em 0em;
}

#usuario{
    text-align: center;
    height: 30px;
    width: 300px;
}
#password{
    text-align: center;
    
}
#contraseña{
    text-align: center;
    height: 30px;
    width: 300px;
    
}


footer{
    margin-top: 450px;
    margin-left: 20px;
}

#imgLaboratoria{
    text-align: center;
    margin-left: 368px;
    margin-top: 4px;
}

h1{
    background-color: #ff0099;
    margin: 0px;
}

.info{
    margin: 20%;
    border: none;
    font-size: 98%;
}

body{
    margin: 0;

}

#result3{
    
    display: inline-block;
    
    
}

.container{
    display: inline-block;
    width: 200px;
    height: 100%;
    border: none;
    padding: none;
    background-color: yellow;
    position:fixed;
    top: 0;
    

}
a{
    text-transform: uppercase;
    font-size: 98%;
}

.container2{
    display: inline-block;
    width: 80%;
    float: right;
}
.cardAlumnas{
    width: 200px;
    height: 200px;
    display: inline-flex;
    margin: 0.5rem;
    background-color: aquamarine;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid grey;
    color: black;
  }
}
.sedes{
    background-color: aqua;
    width: 200px;
    text-align: center;
}
.generacion{

    width: 200px;
}

.btnSedes{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60%;
    background-color: yellow;
    border: none;
    margin-left: 25%;
    text-transform: uppercase;
}

#btnGeneracion{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30%;
}

/*.Menu{
    text-align: left;
    display: inline-block;
    border: 5px solid blue;
    
    height: 700px;
    padding: none;
}*/



