#name{
    text-align: center;
    margin: 14em 0em 2em 0em;
}

#usuario{
    text-align: center;
    height: 30px;
    width: 300px;
}
#password{
    text-align: center;
    
}
#contraseña{
    text-align: center;
    height: 30px;
    width: 300px;
    
}


#imgLaboratoria{
    text-align: center;
    margin-left: 280px;
    margin-top: 4px;
}

h1{
    background-color: #ff0099;
    margin: 0px;
}

.info{
    
    border: none;
}

body{
    margin: 0;

}



.container{
    display: inline-block;
    width: 200px;
    border: none;
    padding: none;
    background-color: yellow;
    top: 0;

}
.container1{
    display: inline-block;
    margin-left: 7%;
}
.container2{
    display: inline-block;
    margin-left: 10%;
}

li{
    text-transform: uppercase;
    font-size: 80%;
}

p{
    font-size: 56%;
}

.cardAlumnas{
    width: 180px;
    height: 200px;
    display: inline-block;
    margin: 0.5rem;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border: 1px solid black;
  }
.cardAlumanas2{
    width: 180px;
    height: 200px;
    display: inline-block;
    margin: 0.5rem;
    background-color: orchid;
    color: black;
    text-align: center;
    border: 1px solid black;
}
.cardAlumanas3{
    width: 180px;
    height: 200px;
    display: inline-block;
    margin: 0.5rem;
    background-color: burlywood;
    color: black;
    text-align: center;
    border: 1px solid black;
}


#menu{
    background-color: yellow;
    height: 125px;
    text-align: center;
}

#menu2{
    text-align: center;
    border: 0.2em double blueviolet;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#menu3{
    text-align: center;
    border: 0.2em double blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

#menu4{
    text-align: center;
    border: 0.2em double blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.btnLima{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    border: none;
    display: inline-block;
    text-transform: uppercase;
}

.btnMexico{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    
    background-color: yellow;
    border: none;
    display: inline-block;
    text-transform: uppercase;
}

.btnSantiago{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    border: none;
    text-transform: uppercase;
}

.container3{
    border: black;
    display: inline-block;
    
}
.container4{
    border: black;
    display: inline-block;
}
.container5{
    border: black;
    display: inline-block;
}

#lima-cuarta{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: inline-block;
}

#lima-quinta{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase; 
    display: inline-block;
}
#lima-tercera{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase; 
    display: inline-block;
}

.container6{
    border: black;
    display: inline-block;
    
}
.container7{
    border: black;
    display: inline-block;
}
.container8{
    border: black;
    display: inline-block;
}

#mexico-cuarta{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: inline-block;
}

#mexico-quinta{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase; 
    display: inline-block;
}
#mexico-tercera{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase; 
    display: inline-block;
}

.container9{
    border: black;
    display: inline-block;
    
}
.container10{
    border: black;
    display: inline-block;
}
.container11{
    border: black;
    display: inline-block;
}

#santiago-cuarta{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: inline-block;
}

#santiago-quinta{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase; 
    display: inline-block;
}
#santiago-tercera{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase; 
    display: inline-block;
}
/*.Menu{
    text-align: left;
    display: inline-block;
    border: 5px solid blue;
    
    height: 700px;
    padding: none;
}*/



